body{
    font-family: Arial, sans-serif;
    background-color: #E6BA8A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

.login-container{
    background-color: #E6D28A;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 250px;
}

h2{
    text-align: center;
}

.form-group{
    margin-bottom: 15px;
}

.form-group label{
    display: block;
    margin-bottom: 5px;
}

.form-group input{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.error-message{
    color: #f80404;
    display: none;
}

button{
    width: 100%;
    padding: 10px;
    background-color: #EB8E5B;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

button:hover{
    background-color: #A3965D;
}